<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-3">
      <img src="./assets/images/plus.png" alt="Add food" width="140" height="140">
      <h2>Add</h2>
      <p>You can add a new food item to the app. You will have to provide the following information of that food: name, typical values, unit of the typical value, calories, carbs, fat, protein, salt, and sugar.</p>
      <p><a class="btn btn-secondary" href="./addfood" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img src="./assets/images/search.png" alt="Search for food" width="140" height="140">
      <h2>Search</h2>
      <p>Once you added the food item, you can then search by food name. The food information related to the search will be displayed.</p>
      <p><a class="btn btn-secondary" href="./search" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img src="./assets/images/edit.png" alt="Update food" width="140" height="140">
      <h2>Update</h2>
      <p>You can change any of the food information at any time. Simply search by food name and update it. You can also delete the whole food item if you need to.</p>
      <p><a class="btn btn-secondary" href="./update" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img src="./assets/images/list.png" alt="List food" width="140" height="140">
      <h2>List</h2>
      <p> Display all foods stored in the database sorted by name. A summary of nutritional information will be also provided with calorie count of a recipe or a meal.</p>
      <p><a class="btn btn-secondary" href="./list" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->