<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2020 Zach Chan. · <a href="./">Home</a> 
                         · <a href="./about">About</a>
                         · <a href="./addfood">Add</a>
                         · <a href="./search">Search</a>
                         · <a href="./update">Update</a>
                         · <a href="./list">List</a>
    </p>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>