<form id="form" method="POST" action="
    <% if (title === 'Update'){ %>
        ./foodupdated
    <% } else { %>
        ./foodadded
    <% } %>
">
    <% if (title === 'Update'){ %> <!--Hiden id input-->
        <input id="id" name="id" type="hidden" value="<%- food.id %>" required>
    <% } %>
    <div class="form-group">
        <label for="name">* Food Name: </label>
        <input id="name" name="name" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Food Name" maxlength="100" value="<%- food.name %>" required>
        <small id="nameHelp" class="form-text text-muted">Can be an ingredient or a dish with known nutritional facts.</small>
    </div>
    <div class="form-group">
        <label for="typicalValue">* Typical Value: </label>
        <div class="input-group">
            <input id="typicalValue" name="typicalValue" type="number" class="form-control" aria-describedby="typicalValueHelp" placeholder="Typical Value" step=".01" value="<%- food.typicalValue %>" required>
            <span class="input-group-btn" style="width:5px;"></span>
            <select id="unit" name="unit" class="form-control" style="margin-left:-1px; max-width: 25%;" required>
                <option value="g" <% if (food.unit === 'g'){ %> selected <% } %>>gram (g)</option>
                <option value="L" <% if (food.unit === 'L'){ %> selected <% } %>>litre (L)</option>
                <option value="tbsp"<% if (food.unit === 'tbsp'){ %> selected <% } %> >tablespoon (tbsp)</option>
                <option value="cup"<% if (food.unit === 'cup'){ %> selected <% } %> >cup (cup)</option>
                <option value="oz." <% if (food.unit === 'oz.'){ %> selected <% } %>>ounce (oz.)</option>
            </select>
        </div>
        <small id="typicalValueHelp" class="form-text text-muted">Typically how heavy they are?</small>
    </div>
    <div class="form-group">
        <label for="calories">* Calories: </label>
        <div class="input-group">
            <input id="calories" name="calories" type="number" class="form-control" placeholder="Calories" step=".01" value="<%- food.calories %>" required>
            <div class="input-group-append">
                <span class="input-group-text">kCal</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="carbs">* Carbs: </label>
        <div class="input-group">
            <input id="carbs" name="carbs" type="number" class="form-control" placeholder="Carbs" step=".01" value="<%- food.carbs %>" required>
            <div class="input-group-append">
                <span class="input-group-text weight-unit">g</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="fat">* Fat: </label>
        <div class="input-group">
            <input id="fat" name="fat" type="number" class="form-control" placeholder="Fat" step=".01" value="<%- food.fat %>" required>
            <div class="input-group-append">
                <span class="input-group-text weight-unit">g</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="protein">* Protein: </label>
        <div class="input-group">
            <input id="protein" name="protein" type="number" class="form-control" placeholder="Protein" step=".01" value="<%- food.protein %>"  required>
            <div class="input-group-append">
                <span class="input-group-text weight-unit">g</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="salt">* Salt: </label>
        <div class="input-group">
            <input id="salt" name="salt" type="number" class="form-control" placeholder="Salt" step=".01" value="<%- food.salt %>" required>
            <div class="input-group-append">
                <span class="input-group-text weight-unit">g</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="sugar">* Sugar: </label>
        <div class="input-group">
            <input id="sugar" name="sugar" type="number" class="form-control" placeholder="Sugar" step=".01" value="<%- food.sugar %>" required>
            <div class="input-group-append">
                <span class="input-group-text weight-unit">g</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>