<div class="heading">
    <img src="./assets/images/calorie-icon.jpg" alt="Success" width="140" height="140">
    <h1>About CalorieBuddy</h1>
    <p class="lead">CalorieBuddy can help you manage your diet.<br> 
        We provide the following features:</p>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <%- include('./partials/features.html') %>
  

    <!-- START THE FEATURETTES -->
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Purpose: <span class="text-muted">To manage your diet!</span></h2>
        <p class="lead">The purpose of CalorieBuddy is to help people manage their diet by displaying nutritional
            facts including calories, carbs, fat, protein, salt and sugar in a recipe based on food ingredients in
            the recipe.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" alt="Manage Diet" src="./assets/images/manage_diet.jpg" style="width: 500px; height: auto;">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Description: <span class="text-muted">A user-friendly Design.</span></h2>
        <p class="lead">CalorieBuddy functions as a digital calorie counter to help you manage your diet.</p>
        <p class="lead">Essentially it interacts with you to calculate and display nutritional facts 
            including calories for your recipes or meals based on food ingredients in the recipe or the meal.</p>
        <p class="lead">You are given the choice to add nutritional facts for food ingredients. 
            It also provides you with the sum of the calories for a recipe or a
            meal based on the food ingredients selected by the you to be included in the recipe or the meal.</p>
        <p class="lead">If a food ingredient is not in the database, you
            are given the choice to add it to our database.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" alt="Good Design" src="./assets/images/good_design.jpg" style="width: 500px; height: auto;">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Developer: <span class="text-muted">Zach Chan.</span></h2>
        <p class="lead">Zach is the creator of CalorieBuddy. He is currently a freelance Software Engineer based in Hong Kong. This web application is the midterm assignment of his course in University of London.</p>
        <p class="lead">
            <a href="https://www.linkedin.com/in/zach-chan-hk/">LinkedIn</a> · 
            <a href="https://github.com/zach1king">Github</a> · 
            <a href="https://www.instagram.com/zach_csh/">Instagram</a> · 
            <a href="https://www.patreon.com/zachchan">Patreon</a>
        </p>
    </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto rounded-circle" alt="Zach Chan's Pic" src="https://media-exp1.licdn.com/dms/image/C5103AQF2EalyeMY3GA/profile-displayphoto-shrink_400_400/0?e=1611187200&v=beta&t=vEx2IrVIo_jds1DPeTG64etdfgQTqCnKFT0TxuMhuZ4" style="width: auto; height: 300px;">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <!-- /END THE FEATURETTES -->
  
</div><!-- /.container -->